In [3]:
import pandas as pd
df=pd.read_csv('nyt.csv', nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [12]:
df1 = pd.read_csv('nyt.csv')

/tmp/ipykernel_57116/3270645734.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('nyt.csv')

In [13]:
num_files, num_columns = df1.shape

In [14]:
print(f'El archivo CSV tiene {num_files} filas y {num_columns} columnas')

El archivo CSV tiene 2964624 filas y 19 columnas

In [16]:
df1.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
count,2.964624e+06,2.824462e+06,2.964624e+06,2.824462e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.824462e+06,2.824462e+06
mean,1.754204e+00,1.339281e+00,3.652169e+00,2.069359e+00,1.660179e+02,1.651167e+02,1.161271e+00,1.817506e+01,1.451598e+00,4.833823e-01,3.335870e+00,5.270212e-01,9.756319e-01,2.680150e+01,2.256122e+00,1.411611e-01
std,4.325902e-01,8.502817e-01,2.254626e+02,9.823219e+00,6.362391e+01,6.931535e+01,5.808686e-01,1.894955e+01,1.804102e+00,1.177600e-01,3.896551e+00,2.128310e+00,2.183645e-01,2.338558e+01,8.232747e-01,4.876239e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-8.990000e+02,-7.500000e+00,-5.000000e-01,-8.000000e+01,-8.000000e+01,-1.000000e+00,-9.000000e+02,-2.500000e+00,-1.750000e+00
25%,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.538000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.680000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.700000e+00,0.000000e+00,1.000000e+00,2.010000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,1.000000e+00,3.110000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.120000e+00,0.000000e+00,1.000000e+00,2.856000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,9.000000e+00,3.127223e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,5.000000e+03,1.425000e+01,4.000000e+00,4.280000e+02,1.159200e+02,1.000000e+00,5.000000e+03,2.500000e+00,1.750000e+00

In [18]:
df_describe = df1.describe().round(2)

In [19]:
print(df_describe)

         VendorID  passenger_count  trip_distance  RatecodeID  PULocationID  \
count  2964624.00       2824462.00     2964624.00  2824462.00    2964624.00
mean         1.75             1.34           3.65        2.07        166.02
std          0.43             0.85         225.46        9.82         63.62
min          1.00             0.00           0.00        1.00          1.00
25%          2.00             1.00           1.00        1.00        132.00
50%          2.00             1.00           1.68        1.00        162.00
75%          2.00             1.00           3.11        1.00        234.00
max          6.00             9.00      312722.30       99.00        265.00

       DOLocationID  payment_type  fare_amount       extra     mta_tax  \
count    2964624.00    2964624.00   2964624.00  2964624.00  2964624.00
mean         165.12          1.16        18.18        1.45        0.48
std           69.32          0.58        18.95        1.80        0.12
min            1.00          0.00      -899.00       -7.50       -0.50
25%          114.00          1.00         8.60        0.00        0.50
50%          162.00          1.00        12.80        1.00        0.50
75%          234.00          1.00        20.50        2.50        0.50
max          265.00          4.00      5000.00       14.25        4.00

       tip_amount  tolls_amount  improvement_surcharge  total_amount  \
count  2964624.00    2964624.00             2964624.00    2964624.00
mean         3.34          0.53                   0.98         26.80
std          3.90          2.13                   0.22         23.39
min        -80.00        -80.00                  -1.00       -900.00
25%          1.00          0.00                   1.00         15.38
50%          2.70          0.00                   1.00         20.10
75%          4.12          0.00                   1.00         28.56
max        428.00        115.92                   1.00       5000.00

       congestion_surcharge  Airport_fee
count            2824462.00   2824462.00
mean                   2.26         0.14
std                    0.82         0.49
min                   -2.50        -1.75
25%                    2.50         0.00
50%                    2.50         0.00
75%                    2.50         0.00
max                    2.50         1.75

In [20]:
df_iter = pd.read_csv('nyt.csv', iterator=True, chunksize=100000)

In [22]:
df= next(df_iter)
len(df)

100000

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [26]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.47 s, sys: 51.5 ms, total: 4.52 s
Wall time: 8 s

1000

In [27]:
from time import time

In [28]:
try:
    while True: 
        t_start = time()  # Captura el tiempo de inicio del bucle

        try:
            df = next(df_iter)  # Obtiene el siguiente chunk de datos del iterador df_iter
        except StopIteration:
            print("No more data to process.")
            break

        # Convierte las columnas de fechas a tipos datetime si es necesario
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

        try:
            # Inserta el chunk actual del DataFrame en la tabla 'yellow_taxi_data' en la base de datos usando SQLAlchemy
            df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        except Exception as e:
            print(f"Error inserting chunk into database: {e}")
            continue

        t_end = time()  # Captura el tiempo al finalizar la inserción del chunk

        # Imprime el tiempo que tomó insertar el chunk actual
        print(f"Inserted another chunk, took {t_end - t_start:.3f} seconds")

except Exception as e:
    print(f"An error occurred during processing: {e}")

Inserted another chunk, took 6.764 seconds
Inserted another chunk, took 6.838 seconds
Inserted another chunk, took 6.754 seconds
Inserted another chunk, took 6.676 seconds
Inserted another chunk, took 6.967 seconds
Inserted another chunk, took 6.781 seconds
Inserted another chunk, took 6.758 seconds
Inserted another chunk, took 6.723 seconds
Inserted another chunk, took 6.793 seconds
Inserted another chunk, took 6.864 seconds
Inserted another chunk, took 6.867 seconds
Inserted another chunk, took 6.795 seconds
Inserted another chunk, took 6.843 seconds
Inserted another chunk, took 7.292 seconds
Inserted another chunk, took 6.750 seconds
Inserted another chunk, took 6.689 seconds
Inserted another chunk, took 6.801 seconds
Inserted another chunk, took 6.805 seconds
Inserted another chunk, took 6.923 seconds
Inserted another chunk, took 6.836 seconds
Inserted another chunk, took 6.763 seconds
Inserted another chunk, took 6.694 seconds
Inserted another chunk, took 7.682 seconds
Inserted another chunk, took 6.734 seconds
Inserted another chunk, took 6.787 seconds
Inserted another chunk, took 7.378 seconds

/tmp/ipykernel_57116/1457449345.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)  # Obtiene el siguiente chunk de datos del iterador df_iter

Inserted another chunk, took 6.193 seconds
Inserted another chunk, took 6.432 seconds
No more data to process.